/* Général */

.buttonSite {
    background-color: #EF3832;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}
/* Code pour le bouton :
  <a href="#" class="buttonSite">Voici un bouton</a>
*/

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    display: wrap;
}

.radNone
{
  display: none;
}

/**/

/***************************************************************************/

/* NavBar */

body {
    font-family: "Source Sans Pro", "Arial", sans-serif; /*À voir si c'est vraiment joli*/
    margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #092D74;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #EF3832;
}

ul.topnav li button {
  background-color: #092D74;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: none;
  padding: 14px 16px;
  text-decoration: none;
  font: 16px Arial;
  border: none;
  cursor: pointer;
}

ul.topnav li button:hover:not(.active) {
  background-color: #EF3832;
}

ul.topnav li a.active {
    background-color: #092D74; /*Faire en sorte qu'il n'y a pas de modification de couleurs lorsqu'on survol le logo*/
} 

ul.topnav li.right {
    float: right;
}

/* Dropdown */

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #EF3832;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #092D74;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/**/



/**/

/***************************************************************************/

/* Page d'accueil */

.padding {
    padding: 0 1rem;
    padding-right: 16rem;
    padding-left: 16rem;
}
 
.center {
    text-align: center;
}

/**/

/***************************************************************************/

/* Objets */

.bckgroundObjets
{
    background-color: #092D74;
    color: white;
    padding: 16px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    
}

.leftObjets {
    float: left;
    text-align: center;
}

.rightObjets {
    float: right;
    width: 75%;
    align-items: center;
}

.zoneImageVide
{
  background-color: white;
  color: white;
  border-radius: 10px;
  display: inline-block;
  width: 15vmax;
  height: 15vmax;
  padding: 0px;
  align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/**/

/***************************************************************************/

/* Page création campagne */

.flex__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex__inline {
  display: inline-flex;
  flex-direction: column;
}

.margin__top {
    margin-top: .5rem;
}

.card__container {
    background-color: #092D74;
    color: white;
    padding: 1rem;
    border-radius: .75rem;
    margin-top: 2rem;
}

.card__padding {
    padding: 0 1rem;
    padding-right: 16rem;
    padding-left: 16rem;
}

.btn {
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: .75rem;
}

.btn.bg__orange.color__white:hover {
    background-color: #c71913;
}

.bg__orange {
    background-color: #EF3832;
}

.color__white {
    color: white;
}

.hover__orange:hover {
    color: #EF3832;
}

.gap {
    margin-top: .25rem;
}



/**/

/***************************************************************************/

/* Media Queries */

@media screen and (max-width: 1200px) {
    .padding {
      padding: 0 16px;
    }
  }

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .padding {
      padding: 0 16px;
    }
  }

/**/

/***************************************************************************/

/* styles pour les options de couleur */
  
  .button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
  }
  
  /* .button span {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: ease .3s;
  } */
  
  .layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: -1;
  }

/* styles pour les options de couleur */
label {
  display: inline-block;
  position: relative;
}

/* .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} */

.button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.100);
  overflow: hidden;
}

.button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

input[type="radio"]:checked + .layer {
  opacity: 1;
}

input[type="radio"]:checked + .button {
  border-color: white;
  transition: border-color 0.3s ease-in-out;
}

/**/